<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Valor inicial investido</ion-label>
  <ion-item>
    <ion-input type="number" placeholder="Digite o valor do investimento" [(ngModel)]="invest"></ion-input>
  </ion-item>  
  <ion-label>Taxa de retorno anual (em porcentagem)</ion-label>
  <ion-item>
    <ion-input type="number" placeholder="Digite a taxa de juros mensal" [(ngModel)]="TdJ"></ion-input> 
  </ion-item>
  <ion-label>Periodo de investimento (em anos)</ion-label>
  <ion-item>
    <ion-input type="number" placeholder="Digite o periodo de investimento" [(ngModel)]="anos"></ion-input>
  </ion-item>
  <ion-button expand="block" id="valor-Final" (click)="Calcular()">Calcular</ion-button>


  Valor final: {{ValorFinal}} <br>
  Juros: {{ValorJuros}}

</ion-content>
